<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="author" content="O. Kalu">
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" th:href="@{/css/dropdown.css}" />

        <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body style="background-color:#D3D3D3;">
        <nav class="navbar navbar-inverse navbar-expand-xl navbar-dark">
            <div class="navbar-header d-flex col">
                <a class="navbar-brand" href="#"><i class="fa fa-cube"></i>SMART <b>Bank</b></a>
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">

                <ul class="nav navbar-nav navbar-right ml-auto">
                    <li class="nav-item active"><a href="/manager/generateStatement" class="nav-link"><i class="fa fa-list"></i><span>Generate Statement</span></a></li>
                    <li class="nav-item"><a href="/manager/checkBalance" class="nav-link"><i class="fa fa-money"></i><span>Check Balance</span></a></li>
                    <li class="nav-item"><a href="/manager/transactionmanager" class="nav-link"><i class="fa fa-history"></i><span>Transaction</span></a></li>
                    <li class="nav-item"><a href="/manager/printCard" class="nav-link"><i class="fa fa-credit-card"></i><span>Print Card</span></a></li>
                    <li class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><i class="fa fa-university"></i>Accounts</a>
                    <ul class="dropdown-menu">
                        <li><a href="/manager/allAccounts" class="dropdown-item"><i class="fa fa-check"></i> Active Accounts</a></li>
                        <li><a href="/manager/closedAccounts" class="dropdown-item"><i class="fa fa-window-close"></i> Closed Accounts</a></li>
                        <li class="divider dropdown-divider"></li>

                    </ul>
                </li>

                    <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><i class="fa fa-user"></i>Customer</a>
                        <ul class="dropdown-menu">
                            <li><a href="/manager/Smartacc" class="dropdown-item"><i class="fa fa-check"></i> All Customers</a></li>
                            <li><a href="/manager/approveNewCustomer" class="dropdown-item"><i class="fa fa-clock-o"></i> For Approval</a></li>

                            <li class="divider dropdown-divider"></li>

                        </ul>
                    </li>


                    <li class="nav-item dropdown ">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action  "> Hello: [[${#httpServletRequest.remoteUser}]]</a>
                        <ul class="dropdown-menu">

                            <li><a href="/app-logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="container">
            <th:block layout:fragment="content"></th:block>
        </div>
        <div  th:replace="fragments/footer :: footer"></div>

       </body>
</html>